section.section.section-faq
  .main-wrapper
    .faq
      .faq-left
        ul.faq-list
          li.faq-item
            h2.faq-item__title Сколько есть пакетов участия на платформе?
            p.faq-item__text На данным момент есть три пакета участия - ознакомиться с ними вы можете ниже по ссылке “Выбрать пакет”.
          li.faq-item
            h2.faq-item__title Какой из пакетов лучше всего выбрать, если у меня нет опыта в digital-маркетинге, но я хочу учиться и найти первые проекты?
            p.faq-item__text В таком случае мы рекомендовали бы вам выбрать либо пакет “Start” либо “Optimal” - там есть мини-курсы и образовательные материалы под ваш запрос, а также вы сможете всегда откликаться на вакансии и разместиться в рейтинге подрядчиков, что увеличит ваши шансы на поиск проектов.
          li.faq-item
            h2.faq-item__title Какой из пакетов лучше всего выбрать, если я собственник бизнеса?
            p.faq-item__text Собственникам бизнеса мы всего рекомендуем пакет “Business”, как ни странно :)
      .faq-right
        ul.faq-list
          li.faq-item
            h2.faq-item__title У вас есть индивидуальные услуги для бизнеса помимо трех пакетов?
            p.faq-item__text Есть дополнительные услуги для бизнеса в рамках пакета “Business”. Если наша команда в процессе брифа поймет, что пакета “Business” недостаточно, то мы вам предложим дополнительные услуги, например по созданию digital-стратегии или по сопровождению отдела digital-маркетинга, сверх того, что уже есть в пакете.
          li.faq-item
            h2.faq-item__title В чем преимущество платформы “Digitalizator” перед другими?
            p.faq-item__text Online-платформа “Digitalizator” - это универсальный инструмент по развитию малого и среднего бизнеса в Digital именно благодаря тому, что здесь можно и обучаться, и находить подрядчика/сотрудника, и работу/клиентов, и развиваться в сообществе единомышленников - все “в одном флаконе” и по честным ценам.
          li.faq-item
            h2.faq-item__title У меня свое агентство, какой пакет мне лучше выбрать, если меня интересуют только новые клиенты?
            p.faq-item__text Скорее всего для вас будут важны такие возможности как: размещение карточки вашего агентства в рейтинге подрядчиков, возможность откликаться на проекты/вакансии со стороны заказчиков, а также доступ к нашему сообществу и регулярным online-мастермайндам - эти преимущества есть в пакете “Optimal”, а также частично в пакете “Start”.


  script.
    $(function(){
      $('.faq-item').click(function(){
        $(this).toggleClass('faq-item--active').find('.faq-item__text').slideToggle(300);
      });
    });
