section.section.section-founder
  .main-wrapper
    .founder-photo
    .founder
      h2.founder__title эд кузьмин
      h3.founder__subtitle Основатель онлайн-платформы и компании digitalizator.club
      .founder__hr
      ul.founder-list
        li.founder-item
          .founder-item__number 01
          .founder-item__text Эд Кузьмин– digital-стратег и предприниматель с <b>9-летним опытом работы</b> в маркетинге, в том числе на позициях маркетинг директора (CMO).
        li.founder-item
          .founder-item__number 02
          .founder-item__text <b>Сотрудничал</b> с такими брендами как Superludi, МамаХохотала, Sonmax, GeniusMarketing, Лаборатория Онлайн Бизнеса, Ecosoft, TyresNET и другими.
        li.founder-item
          .founder-item__number 03
          .founder-item__text Имеет большой опыт в формировании маркетинг-отделов для бизнеса с нуля и создания digital-стратегий, которые <b>работают!</b>
      .founder__hr
      p.founder__text Наша миссия – упростить жизнь предпринимателям и маркетологам с помощью наших продуктов