section.section.section-intro
  video.video-bg(autoplay loop muted playsinline)
    source(src='videos/home/intro-bg.mp4', type='video/mp4')
  .main-wrapper
    include ../../../partials/client/header
    include ../../../partials/client/mobile-menu
    .intro
      h2.subtitle.intro__subtitle Сообщество <span>&bull;</span> Обучение <span>&bull;</span> Сотрудничество
      .intro__title
      p.intro__text <span>Online-платформа</span> по развитию малого и среднего бизнеса в Digital
      .intro__btns
        a(href="https://platform.digitalizator.club/registration").btn.intro__btn.registration-link Выбрать Пакет
        a(href="https://platform.digitalizator.club/login").btn.intro__btn вход
