section.section.section-intro-2
  include ../../../partials/client/header
  include ../../../partials/client/mobile-menu

  .main-wrapper
    .intro-2
      .intro-2__content
        h1.intro-2-title Находите проекты<br> и заказчиков
        p.intro-2__text с помощью online-платформы<br> “Digitalizator”
        a(href="#more").link-smooth.btn.intro-2__btn детальнее
      .devices-illustration
        .devices-illustration__bg-1
        .laptop-illustration
          .laptop-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/rating-desktop.mp4', type='video/mp4')
        .phone-illustration
          .phone-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/rating-mob.mp4', type='video/mp4')

    h1#more.intro-2-title.intro-2-title--2 Инструменты для привлечения клиентов:
