section.section.section-numbers
  .main-wrapper
    .numbers
      .numbers-left
        h2.subtitle.numbers-left__title о платформе<br class="br-sm"> в цифрах
      .numbers-right
        ul.numbers-list
          li.numbers-item
            h3.numbers-item__number более<br class="br-sm"> <b>150</b>
            p.numbers-item__text Специалистов, фрилансеров, агентств <span>трудоустроились или нашли клиентов</span>
          li.numbers-item
            h3.numbers-item__number более<br class="br-sm"> <b>700</b>
            p.numbers-item__text Специалистов и предпринимателей <span>уже воспользовались платформой</span>
          li.numbers-item
            h3.numbers-item__number свыше<br class="br-sm"> <b>20</b>
            p.numbers-item__text Количество <span>открытых вакансий</span> на платфоре. Регулярно обновляются.
          li.numbers-item
            h3.numbers-item__number более<br class="br-sm"> <b>9</b> месяцев
            p.numbers-item__text Средний период <span>активного участия</span> на платформе
          li.numbers-item
            h3.numbers-item__number более<br class="br-sm"> <b>100</b>
            p.numbers-item__text <span>Digital-стратегий для бизнеса</span> cоздано/доработано командой Digitalizator
