section.section.section-reviews
  .main-wrapper
    .reviews
      h2.subtitle.subtitle--white.reviews-title видео-отзывы участников онлайн-платформы

      .reviews-slider-layout
        .reviews-slider-2
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='kw21B5UMa-8')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/kw21B5UMa-8/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='Q_YhUh8M0ck')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/Q_YhUh8M0ck/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='A3MrM02QpyA')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/A3MrM02QpyA/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='LQbDzKGoR9A')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/LQbDzKGoR9A/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='pGygTXCCfjk')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/pGygTXCCfjk/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='IXZWlg60J60')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/IXZWlg60J60/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='B5Q_NM4Upzw')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/B5Q_NM4Upzw/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='hmAjhcZpo9U')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/hmAjhcZpo9U/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
              //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='UJpCuMMwHJY')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/UJpCuMMwHJY/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
            //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='TNVQQEwGOYQ')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/TNVQQEwGOYQ/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
            //h3.reviews-slide__position Маркетинг-продюссер
          .reviews-slide-block
            a.reviews-slide(href='#modal-video', data-video='youtube', data-srcvideo='qw3EblDZ_tM')
              .reviews-slide__thumb(style="background-image: url(https://img.youtube.com/vi/qw3EblDZ_tM/mqdefault.jpg);")
                .reviews-slide__play
              //h2.reviews-slide__name Иван матыров
            //h3.reviews-slide__position Маркетинг-продюссер

      .reviews-btn-layout
        a(href='https://platform.digitalizator.club/registration').btn.btn--center.reviews-btn.registration-link Выбрать Пакет

  script.
    $(function(){
      $('.reviews-slider-2').slick({
        slidesToShow: 4,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2500,
        swipe: true
      })
    });