section.section.section-services
  .main-wrapper
    .services
      .services-left
        h2.subtitle.services-left__title Пакеты участия и другие услуги:
        p.services-left__text Платформа “Digitalizator” - это универсальный online-инструмент для обучения, сотрудничества и развития бизнеса в сообществе единомышленников
      .services-right
        p.services-right__text На платформе есть три пакета: “Start”, “Optimal”, “Business” а также ряд дополнительных услуг для собственников бизнеса, которые наша команда вам обязательно предложит в случае если пакета “Business” будет недостаточно
        ul.rating-list.rating-list-3
          li.rating-item Digital-стратегия
          li.rating-item Сопровождение отдела digital-маркетинга
          li.rating-item Поиск и отбор маркетолога
          li.rating-item Обучение по управлению digital-маркетингом
        //p.services-right__text-2 Детально ознакомиться с услугами можно в “шапке” сайта в меню “Наши Услуги”. Там вы можете оставить заявку и менеджер свяжется с вами и проконсультирует
        a(href='https://platform.digitalizator.club/registration').btn.btn--center.values__btn.registration-link Выбрать Пакет
