section.section.section-rating
  .main-wrapper
    .rating.rating--study
      h2.subtitle.rating__title Раздел “Обучение”
      p.rating__text На сегодняшний день на платформе есть 4 мини-курса (SMM и Таргетированная реклама, Создание digital-стратегии, Карьеры в digital с нуля и создание digital-команды) и более 100 видеоуроков, вебинаров, мастерклассов и дайджестов как для начинающих и опытных специалистов так и для владельцев бизнеса, который хотят освоить инструменты управления digital-командой и digital-стратегией
      ul.rating-list.rating-list-2
        li.rating-item Реклама и контент
        li.rating-item Стратегический маркетинг
        li.rating-item Управление командой
        li.rating-item Подбор маркетолога
        li.rating-item Карьера в digital
        li.rating-item.rating-item--text и многое другое ...
      .devices-illustration
        .laptop-illustration
          .laptop-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/study-desktop.mp4', type='video/mp4')
        .phone-illustration
          .phone-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/study-mob.mp4', type='video/mp4')
      p.rating__text-2.text-2 <span>Контент подбирается</span> под конкретные запросы участников платформы и обновляется регулярно.
      a(href="https://platform.digitalizator.club/registration").btn.rating__btn.registration-link Выбрать Пакет

