section.section.section--yellow.section-vacancies
  .main-wrapper
    .vacancies
      h2.subtitle.vacancies__title Вакансии и проекты<br> для специалистов и агентств
      p.vacancies__text На платформе регулярно обновляются вакансии и проекты из сферы Digital-маркетинга для специалистов разного уровня и агентств. Всякий участник платформы может бесплатно откликнуться на любую вакансию или же опубликовать свою собственную за доп.плату (15$ за 30-дневное размещение).
      .devices-illustration.devices-illustration--right
        .laptop-illustration
          .laptop-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/vacancies-desktop.mp4', type='video/mp4')
        .phone-illustration
          .phone-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/vacancies-mob.mp4', type='video/mp4')
      a(href="https://platform.digitalizator.club/registration").btn.btn--black.vacancies__btn.registration-link Выбрать Пакет
