section.section.section-values
  .main-wrapper
    .values
      h2.subtitle.subtitle--white.values__title Ценности
      .values__slogan
      ul.values-list
        li.values-item
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-1.svg)")
            p.values-subitem__text Взаимопомощь и поддержка среди участников
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-2.png)")
            p.values-subitem__text Соблюдение договоренностей по сотрудничеству
        li.values-item
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-3.svg)")
            p.values-subitem__text Поощрение активности и инициативности участников
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-4.svg)")
            p.values-subitem__text Отсутствие навязчивых “оферов” и рекламы в чатах
        li.values-item
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-5.svg)")
            p.values-subitem__text “Экологичность” и уважительное отношение друг к другу
          .values-subitem
            .values-subitem__icon(style="background-image: url(img/home/values/item-6.svg)")
            p.values-subitem__text Желание развиваться<br> в Digital-сфере
      a(href='https://platform.digitalizator.club/registration').btn.btn--center.values__btn.registration-link Выбрать Пакет
      p.values__text-mute *Администрация online-платформы “Digitalizator” регулярно модерирует все активности участников на платформе и в общих Telegram-чатах на предмет соответствия ценностям
