section.section.section-action
  .main-wrapper
    .action
      h3.action__subtitle Вы можете оформить подписку и получить полный доступ ко всем преимуществам платформы.
      h2.action__title действуйте!
      a(href="https://platform.digitalizator.club/registration").btn-2.registration-link выбрать пакет
