//doctype html
//html
//  head
//    meta(charset='UTF-8')
//    meta(http-equiv='X-UA-Compatible', content='IE=edge')
//
//    title
//    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
//    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
//    link(rel='stylesheet' href='css/style.css')
//
//    // FAVICON
//    link(rel="icon" type="image/png" href="img/logo.svg")
//
//    script(src='js/jquery-2.1.4.min.js' type='text/javascript')
//    script(src='js/jquery.cookie.js' type='text/javascript')
//  body
//    block contents

doctype html
html(lang='ru-RU')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ONLINE-платформа "Digitalizator"
    // SEO
    meta(property='og:title', content='ONLINE-платформа "Digitalizator"')
    meta(property='og:description', content='Online-платформа по развитию малого и среднего бизнеса в Digital: сообщество, сотрудничество, обучение')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='fb:admins', content='')
    meta(property='fb:app_id', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Lemonada', rel='stylesheet')
    // FAVICON
    link(rel='icon', type='image/png', href='img/fav/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/fav/favicon-16x16.png', sizes='16x16')

    link(rel='stylesheet' href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

    // Google Tag Manager
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WZGTZ37');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZGTZ37', height='0', width='0', style='display:none;visibility:hidden')
    // Google End Tag Manager (noscript)

    script(charset='UTF-8', src='//web.webpushs.com/js/push/ffd3ee8fd3180cba225637ed734b5c64_1.js', async='')


    block contents
