extends ../layouts/client/main

block contents
  .main
    include ../pages-partials/client/home-2/intro-2
    include ../pages-partials/client/home-2/courses
    include ../pages-partials/client/home-2/action

  include ../partials/client/footer
