extends ../layouts/client/main

block contents
  .main
    include ../pages-partials/client/home/intro-2
    include ../pages-partials/client/home/vacancies
    include ../pages-partials/client/home/rating
    include ../pages-partials/client/home/telegram
    include ../pages-partials/client/home/action

  include ../partials/client/footer
