extends ../layouts/client/main

block contents
  .main
    include ../pages-partials/client/home-3/intro-2
    include ../pages-partials/client/home-3/vacancy-form
    include ../pages-partials/client/home-3/action

  include ../partials/client/footer
