section#courses.section.section-courses
  .main-wrapper
    .courses
      h3.courses__subtitle Сейчас на платформе "Digitalizator" есть
      h2.courses__title 8 эксклюзивных online мини-курсов,
      p.courses__text которые вы можете приобрести как отдельно, так и оформить подписку на платформу и получить доступ сразу ко всем мини-курсам, а также к разделам "Вакансии", "Рейтинг подрядчиков" и закрытому тг-сообществу.

    .modules-list
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-1.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Личная продуктивность: делай меньше, зарабатывай больше
          .modules-item__footer
            .modules-item__videos 13 видео
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-2.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Эффективный сайт: с нуля<br class="br-lg"> до результата
          .modules-item__footer
            .modules-item__videos 8 видео
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-3.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Основы SMM и таргетированной рекламы в Facebook/Instagram
          .modules-item__footer
            .modules-item__videos 34 видео
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-4.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Эффективная digital-стратегия
          .modules-item__footer
            .modules-item__videos 27 видео
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-5.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Эффективная digital-команда
          .modules-item__footer
            .modules-item__videos 23 видео
      a.modules-item.modules-item--md(href='#')
        .modules-item__thumb(style="background-image: url(img/home/courses/thumb-6.jpg)")
        .modules-item__main
          .modules-item__header
            .modules-item__category-module Мини-курс
          .modules-item__title Карьера в Digital-маркетинге c нуля и до руководящей позиции
          .modules-item__footer
            .modules-item__videos 13 видео
