section.section.section-intro-2
  include ../../../partials/client/header
  include ../../../partials/client/mobile-menu

  .main-wrapper
    .intro-2
      .intro-2__content
        h1.intro-2-title Обучайтесь digital-профессиям 24 / 7
        p.intro-2__text с помощью online-платформы<br> “Digitalizator”
        a(href="#courses").link-smooth.btn.intro-2__btn детальнее
      .devices-illustration
        .devices-illustration__bg-2
        .devices-illustration__bg-3
        .laptop-illustration
          .laptop-illustration__inner
            video.video-bg(autoplay loop muted playsinline)
              source(src='videos/home/rating-desktop.mp4', type='video/mp4')
