footer.footer
  .container
    .footer-wrap
      .footer-copy
        a.footer-copy__logo(href='/')
          img(src='img/footer-logo.svg')
        p.footer-copy__text
          b DIGITALIZATOR.CLUB
          |  © 2019 Все права защищены
      ul.footer-docs
        li.footer-docs__item
          a.footer-docs__link(href='/terms', target='_blank') Условия Соглашения и Политики конфиденциальности
        //li.footer-docs__item
        //  a.footer-docs__link(href='https://digitterra.com/terms/#oferta', target='_blank') Условия оказания услуг
        //li.footer-docs__item
        //  a.footer-docs__link(href='https://digitterra.com/terms/#vozvrat', target='_blank') Условия возврата
        //li.footer-docs__item
        //  a.footer-docs__link(href='https://digitterra.com/terms/#vozvrat', target='_blank') Конфиденциальность
      .footer-social
        p.footer-social__text Ищите нас в соцсетях:
        .footer-social__wrap
          a.footer-social__link.instagram(href='https://instagram.com/edkuzm1n', target='_blank')
            img(src='img/ig.svg')
          a.footer-social__link.youtube(href='https://www.youtube.com/c/digitalizator', target='_blank')
            img(src='img/ut.svg')
          a.footer-social__link.telegram(href='https://t.me/edkuzmin', target='_blank')
            img(src='img/tg.svg')
          a.footer-social__link.linkedin(href='https://www.linkedin.com/company/digitterra', target='_blank')
            img(src='img/linkedin.svg')
      .footer-bottom © Эд Кузьмин & Digitalizator.club. Все права защищены. Любое копирование материалов разрешено только с согласия правообладателей.<br> По всем вопросам обращайтесь: <a href="mailto:hi@digitalizator.club">hi@digitalizator.club</a>
// HIDDEN ELEMENTS (MODALS)
#modal-video.modal-overlay
  .container
    .modal-content
      .close-button
        .one
        .two
      .video
        #video-popup
// END HIDDEN ELEMENTS (MODALS)

include ./scripts
