.main-header
  .main-wrapper
    .main-header-logo
    .topline-logo
      .topline-logo__icon
      .topline-logo__content
        .topline-logo__slogan
        .topline-logo__text Online-платформа по созданию команд digital-маркетинга
    ul.main-header-menu
      li.main-header-menu__item
        a(href="#modal-form").main-header-menu__item-link Найти маркетолога
      li.main-header-menu__item
        a(href="/express").main-header-menu__item-link Услуги для бизнеса
      //li.main-header-menu__item
      //  a(href="https://platform.digitalizator.club/registration/9").main-header-menu__item-link Пакет "Business"
    ul.main-header-nav
      .footer-social__wrap
        a.footer-social__link.instagram(href='https://instagram.com/edkuzm1n', target='_blank')
          img(src='img/ig.svg')
        a.footer-social__link.youtube(href='https://www.youtube.com/c/digitalizator', target='_blank')
          img(src='img/ut.svg')
        a.footer-social__link.telegram(href='https://t.me/edkuzmin', target='_blank')
          img(src='img/tg.svg')
        a.footer-social__link.linkedin(href='https://www.linkedin.com/company/digitterra', target='_blank')
          img(src='img/linkedin.svg')
      li.main-header-nav__item
        a(href="https://platform.digitalizator.club/registration").main-header-nav__item-link Выбрать Пакет
      li.main-header-nav__item.main-header-nav__item--login
        a(href="https://platform.digitalizator.club/login").main-header-nav__item-link вход

