// build:js js/libs.min.js
script(src='js/wow.min.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validator.js')
script(src='js/script.js')
script(src='js/popup_script.js')
script(src='js/jquery.countdown.js')
script(src='js/slick.min.js')
script(src='js/lightbox.min.js')
script(src='https://meetup.digitalizator.club/export/form_data_send.js')
// endbuild
script(src='js/intlTelInput.min.js')
script(src='js/main.js')
// auto country code srcipt

script(src='//fbstore.sendpulse.com/loader.js', data-sp-widget-id='2e815b74-5a45-496c-9958-db1854d8ce82', async='')
//script(src='//code.jivosite.com/widget/AuE9CDg7ST', async='')

